<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Welcome to Bug Tracker</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addticket/">Add Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout/">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/">Login</a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container">
    <h1>Welcome to Bug Tracker!</h1>
<br>
    {% if request.user.is_authenticated %}
    <h4>Welcome, {{request.user.username}}</h4>
<br>
<br>
<br>
    <h3>Available Tickets</h3>
    <h4>New Tickets</h4>
    <ul>
        {% for ticket in tickets %} {% if ticket.status == "NEW" %}

        <li>
            <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
    <h4>In Progress Tickets</h4>
    <ul>
        {% for ticket in tickets %} {% if ticket.status == "IN PROGRESS" %}

        <li>
            <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
    <h4>Completed Tickets</h4>
    <ul>
        {% for ticket in tickets %} {% if ticket.status == "COMPLETED" %}

        <li>
            <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
    <h4>Invalid Tickets</h4>
    <ul>
        {% for ticket in tickets %} {% if ticket.status == "INVALID" %}

        <li>
            <a href="/ticket/{{ ticket.id }}/">{{ticket.title}}</a>
        </li>
        {% endif %} {% endfor %}
    </ul>
    {% else %}
    <h1>Please Sign In!</h1>
    {% endif %}
</div>
